{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <div class="container">
    <div class="welcome-message">
      {% if 'usuario_id' not in session %}
        <h1>Bienvenido a Trenor</h1>
        <p>Tu portal de deportes donde puedes gestionar categorías y productos deportivos.</p>
        <p class="info-text">Por favor, inicia sesión para agregar productos y categorías.</p>
      {% else %}
        <h1>Bienvenido a Trenor!</h1>
        <p>Gestiona categorías y productos deportivos en tu portal.</p>
        <div class="center-options">
          <a href="{{ url_for('agregar_categoria') }}" class="option-btn">Agregar Categoria</a>
          <a href="{{ url_for('agregar_producto') }}" class="option-btn">Agregar Producto</a>
          <a href="{{ url_for('ver_categoria') }}" class="option-btn">Ver Productos</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
