<!doctype html>
<html>
<head>
    <title>Trenor - Tienda Deportiva</title>
</head>
<body>
    <h1>Tienda Trenor 🏋️‍♂️</h1>
    <p>
        <a href="{{ url_for('index') }}">Inicio</a> |
        {% if session.get('usuario_id') %}
            <a href="{{ url_for('agregar_categoria') }}">Añadir Categoría</a> |
            <a href="{{ url_for('agregar_producto') }}">Añadir Producto</a> |
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('registro') }}">Registrarse</a> |
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
        {% endif %}
    </p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>

